.slider-btn{ display: none; }

@media(min-width: 575px){ 
    .slider-btn{
        display: grid;
        position: absolute;
        z-index: 1;
        color: var(--gold-crayola);
        font-size: 2.4rem;
        border: 1px solid var(--gold-crayola);
        width: 45px;
        height: 45px;
        place-items: center;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: var(--transition-1);
    }
    
    /* .slider-btn ion-icon { transform: rotate(-45deg);} */
    
    .slider-btn.prev{ left: 30px;}
    
    .slider-btn.next{ right: 30px;}
    
    .slider-btn:is(:hover, :focus-visible){
        background-color: var(--gold-crayola);
        color: var(--black);
    } 

}