<div class="topbar">
    <div class="container">
        <address class="topbar-item">
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <span class="span">Restaurant St, Delicious City, London 9578, UK</span>
        </address>
        <div class="separator"></div>
        <div class="topbar-item item-2">
            <div class="icon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <span class="span">Daily: 8:00am to 10:00pm</span>
        </div>
        <a href="tel: +1123456789" class="topbar-item">
            <div class="icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <span class="span">+1 123 456 789</span>
        </a>
        <a href="mailto:booking@restaurant.com" class="topbar-item">
            <div class="icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <span class="span">booking@restaurant.com</span>
        </a>
    </div>
</div>

