.special-dish-content{ padding-block: 70px; }

.special-dish-content .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block-end: 40px;
}

.special-dish-content .del{
    text-decoration: none;
    color: var(--davys-grey); 
}

.special-dish-content .span{ color: var(--gold-crayola);}

@media (min-width: 992px){
    .special-dish-content{ 
        padding-inline: 50px 25px;
    }
    
    .special-dish-content .container{
        position: relative;
    }

    .special-dish-content .wrapper{
        justify-content: flex-start;
    }
}

