/*------------------------------*\
            #PRELOADER
\*------------------------------*/

.preload{
    background-color: var(--gold-crayola);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-content: center;
    justify-items:center;
    /* z-index: 10; */
}

.preload > * {
    transition: var(--transition-1);
}

.preload.loaded > * {
    opacity: 0;
}

.preload.loaded{
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle{
    width: 112px;
    height: 112px;
    border: 3px solid var(--white);
    border-radius: var(--radius-circle);
    border-block-start-color:  var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1.3s linear infinite;
}

@keyframes rotate360{
    0%{transform: rotate(0);}
    100%{transform: rotate(1turn);}
}

.preload .text{
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText 2s linear infinite;
}

@keyframes loadingText{
    0%{background-position: 100%;}
    100%{background-position: 0%;}
}
