.navbar-item{
    border-block-start: 1px solid var(--white-alpha-20);
}

.navbar-link{
    position: relative;
    font-size: var(--fontSize-label-2);
    text-transform: uppercase;
    padding-block: 10px;
    max-width: unset;       
}

.navbar-link::after{ display: none;}

.navbar-link .span{ transition: var(--transition-1);}

.navbar-link:is(:hover, :focus-visible, .active) .span{
    color: var(--gold-crayola);
    transform: translateX(20px);
}

.separator{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);  
    opacity: 0;
    transition: var(--transition-1); 
} 

.navbar-link:is(:hover, :focus-visible, .active) .separator{
    opacity: 1;
}


