.menu .section-title{ margin-block-end: 40px; }

.menu .grid-list{ margin-block-end: 50px; }

.menu-text .span{
    display: inline-block;
    color: var(--gold-crayola); 
}

.menu .btn{
    margin-inline: auto;
    margin-block-start: 26px; 
}

.menu .shape{
    display: block;
    width: 70%; 
}

.menu .shape-2{
    top: 0;
    left: 0;
}

.menu .shape-3{
    bottom: 0;
    right: 0;
} 

.move-anim{ animation: move 5s linear infinite;}

@keyframes move{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(30px);}
}



